/* body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1874&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
/* .homeBody {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1874&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.header {
  text-align: center;
  margin-top: 300px;
  font-weight: 1000;
  font-size: 2.5rem;
  animation: header-load 650ms ease-in;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 1;
  color: black;
}

.lead {
  width: 40%;
  font-weight: 500;
  font-size: large;
  text-align: center;
  animation: lead-load 650ms ease-in;
  animation-fill-mode: forwards;
  transform: translateY(-50px);
  opacity: 1;
  color: black;
}

.bodyBottom {
  margin-top: 1.5rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.campgroundButton {
  background: none;
  color: rgb(204, 142, 19);
  border: none;
  margin-top: 1rem;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.campgroundButton:hover {
  border-bottom: 2px rgb(93, 155, 93) solid;
}

@keyframes header-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes lead-load {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
