.header {
  text-align: center;
  margin-top: 300px;
  font-weight: 1000;
  font-size: 2.5rem;
  animation: header-load 650ms ease-in;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 1;
  color: green;
}

.lead {
  width: 40%;
  font-weight: 500;
  font-size: large;
  text-align: center;
  animation: lead-load 650ms ease-in;
  animation-fill-mode: forwards;
  transform: translateY(-50px);
  opacity: 1;
  color: rgb(93, 155, 93);
}

.bodyBottom {
  margin-top: 1.5rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.campgroundButton {
  background: none;
  color: rgb(204, 142, 19);
  border: none;
  margin-top: 1rem;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.campgroundButton:hover {
  border-bottom: 2px rgb(93, 155, 93) solid;
}

@keyframes header-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes lead-load {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
