.navBar {
  width: 100%;
  margin-top: 1rem;
  animation: fadeIn 3s;
  display: block;
}

ul {
  background-color: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navItem {
  font-size: large;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  text-align: center;
}

.NavLink {
  /* color: rgb(204, 142, 19); */
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 0.25rem;
}

.NavLink:hover {
  /* border-bottom: solid 3px rgb(48, 91, 27); */
  box-shadow: 2.5px 3.5px rgba(0, 0, 0, 0.85);
  background-color: rgba(204, 254, 152, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
