.campgroundContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
}

.campImage {
  border: 1px solid transparent;
  border-radius: 5%;
  margin-right: 0.4rem;
  max-height: 700px;
  width: 100%;
  max-width: 700px;
  height: 100%;
}

.campDetails {
  margin-left: 1.25rem;
  width: 100%;
  font-size: 1.5rem;
}

.campTitle {
  margin: 0 0 0 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.detailsLink {
  text-decoration: none;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  color: #7c8d91;
}

.detailsLink:hover {
  border-bottom: 2px solid #7c8d91;
}
