.campListMain {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-bottom: 6rem;
  animation: list-load 650ms ease-in;
  animation-fill-mode: forwards;
  opacity: 1;
  /* overflow-x: hidden; */
}

.listLink {
  text-decoration: none;
  color: black;
  width: 90%;
  height: 90%;
}

.header {
  color: black;
  font-size: 2.4rem;
  margin-top: 6rem;
  margin-left: 8rem;
  margin-bottom: 0rem;
  animation: header-load 700ms ease-in;
  animation-fill-mode: forwards;
}

.listContainer {
  border: 3px solid transparent;
}

.mapContainer {
  margin-right: 6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 13rem;
  align-self: flex-start;
}

.campContainer {
  margin-left: 2rem;
  /* border-top: black solid 2px; */
  padding: 1rem 0rem 1rem 2rem;
  width: 90%;
}

.campContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes list-load {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes header-load {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
